<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>
<body>
    <!-- header -->
    <%- include('partials/header2.ejs') %>

    <h1 style="text-align:center">Register</h1>

    <div id="content-center">
        <form action="/register" method="post">
           <% if(typeof errors != 'undefined') { %> 
                <% errors.forEach((error) => { %>
                    <h3> <%= error.msg %> </h3>
                <% }) %>
            <% } %>
            <div class="inner-box">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Username" value = "<%= typeof username != 'undefined' ? username : '' %>">
            
                <label for="fistname">First name:</label>
                <input type="text" name="firstname" id="firstname" placeholder="firstname" value = "<%= typeof firstname != 'undefined' ? firstname : '' %>">
            
                <label for="username">Last name:</label>
                <input type="text" name="lastname" id="lastname" placeholder="lastname" value = "<%= typeof lastname != 'undefined' ? lastname : '' %>">
            
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="Email" value = "<%= typeof email != 'undefined' ? email : '' %>">
            
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="btn">
                <button type="submit">Register</button>
            </div>
        </form>

        <!--
        <form action="/login" method="get">
            <label>Have an account? </label>
            <button type="submit">Login</button>
        </form>

        
        <form action="/" method="get">
            <label>Want to go to Home page </label>
            <button type="submit">Home</button>
        </form>
        -->
        
    </div>
</body>
</html>