<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>
<body>
    <h1 style="text-align:center">Register</h1>

    <div id="content-center">
        <form action="/register" method="post">
           <% if(typeof errors != 'undefined') { %> 
                <% errors.forEach((error) => { %>
                    <h3> <%= error.msg %> </h3>
                <% }) %>
            <% } %>
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Username" value = "<%= typeof username != 'undefined' ? username : '' %>">
        </div>
        <div>
            <label for="fistname">First name:</label>
            <input type="text" name="firstname" id="firstname" placeholder="firstname" value = "<%= typeof firstname != 'undefined' ? firstname : '' %>">
        </div>
        <div>
            <label for="username">Last name:</label>
            <input type="text" name="lastname" id="lastname" placeholder="lastname" value = "<%= typeof lastname != 'undefined' ? lastname : '' %>">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="Email" value = "<%= typeof email != 'undefined' ? email : '' %>">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit">Register</button>
        </form>

        <!-- login -->
        <form action="/login" method="get">
            <label>Have an account? </label>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>